<div class="bg-modal">
    <div class="container-fluid" style=" position: absolute; top:40px">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="text-right" style="color: white; font-size: 24px">
                    <i class="material-icons">
                        call
                    </i>
                    <i class="material-icons">
                        video_call
                    </i>
                    <i class="material-icons">
                        horizontal_split
                    </i>
                    <i class="material-icons">
                        map
                    </i>
                    <i class="material-icons">
                        plus_one
                    </i>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-contents">
        <div class="titulo">
            <div class="logo align-middle" style="position:relative">
                <span style="position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 70%;
                height: 30%;
                margin: auto;
                font-family: Roboto;
                font-size: 1.9em"><i class="material-icons ">important_devices</i> Ferretería Lino </span>
            </div>
            <div class="descripcion" style="color: white">
                Iniciar Sesión
            </div>
        </div>
        <div class="contenido mt-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="legacy">
                    <mat-label>Correo electrónico</mat-label>
                    <input id="correo" matInput formControlName="correo" required>
                    <mat-error *ngIf="correo.invalid">El correo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field class="">
                    <mat-label>Contraseña</mat-label>
                    <input id="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" (keyup)="detectaMayusculas($event)">
                    <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error> -->
                    <mat-hint align="end" *ngIf="mayusculas">MAYUSCULAS ACTIVADAS</mat-hint>
                </mat-form-field>

                <div class="form-group mt-4">
                    <button mat-raised-button color="primary">Iniciar Sesión</button>
                </div>
            </form>
        </div>
        <br>
    </div>
    <footer class="footer">
        <div class="container">
            <span class=""> FISI - UNMSM 2019 </span>
        </div>
    </footer>
</div>