<div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em">
    <i class="material-icons" style="font-size: 30px">local_offer</i> Productos
</div>

<div class=" container-fluid mt-4" style="padding-right:4em; padding-left: 4em">
    <div class="row buscar">
        <div class="col-md-6 ">
            <i class="material-icons"> search </i>
            <mat-form-field class="mt-3">
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar..." autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-md-6 text-right" style="padding-top: 1.8em">
            <button data-toggle="modal" data-target="#modalNuevoProducto" mat-flat-button color="primary" style="bottom: 0em;">Nuevo Producto</button>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO </th>
                <td mat-cell *matCellDef="let row"> {{row._id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STOCK </th>
                <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO UNIT. </th>
                <td mat-cell *matCellDef="let row"> S/. {{row.precio}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [routerLink]="[ '/home/productos', row._id ]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="borrarProducto(row._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
    </div>
</div>
<br><br><br>


<div class="modal fade" id="modalNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="modalNuevoProducto" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <form [formGroup]="nuevoProductoForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"> <i class="material-icons">
                            group_add
                        </i> Nuevo Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Ingrese los datos del nuevo producto
                    <div class="container from-group text-center mt-3 mb-3">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre</mat-label>
                                    <input formControlName="nombre" id="nombre" matInput>
                                    <mat-hint align="end">{{formControls.nombre.value?.length || 0}}/60</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Descripcion</mat-label>
                                    <input formControlName="descripcion" matInput>
                                    <mat-hint align="end">{{formControls.descripcion.value?.length || 0}}/100</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Stock</mat-label>
                                    <input formControlName="stock" matInput>
                                    <mat-hint align="end">{{formControls.stock.value?.length || 0}}/5</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio </mat-label>
                                    <input formControlName="precio" matInput>
                                    <mat-hint align="end">S/.{{formControls.precio.value?.length || 0}}/5</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button mat-button color="warn" data-dismiss="modal">Cerrar</button>
                    <button type="submit" mat-flat-button color="primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>