<div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em">
    <i class="material-icons" style="font-size: 30px">edit</i> Editar Empleado
</div>

<div class="container mt-4">
    Coloque correctamente los datos que correspondan.
</div>

<div class="container mt-1 ">
    <mat-card>
        <form class="mt-2" [formGroup]="editEmpleadoForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="font-size: 1.7em">
                    DNI - {{dniParam}}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>E-Mail</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellidos">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>DNI</mat-label>
                        <input matInput formControlName="dni">
                    </mat-form-field>

                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="edad">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let rol of roles" [value]="rol.value">
                                {{rol.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-right mt-2">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <a mat-button [routerLink]="[ '/home/productos' ]"> Regresar</a>
                    <button class="ml-2" mat-raised-button color="primary" (click)="onSubmit()">Actualizar</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </mat-card>
</div>