<div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em">
    <i class="material-icons" style="font-size: 30px">edit</i> Editar Producto
</div>

<div class="container mt-4">
    Coloque correctamente los datos que correspondan.
</div>

<div class="container mt-1 align-self-center jsutif">
    <mat-card>
        <form class="mt-2" [formGroup]="editProductoForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="font-size: 1.7em">
                    Producto: {{idParam}}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="descripcion">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Stock</mat-label>
                        <input matInput formControlName="stock">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Precio Unitario</mat-label>
                        <input matInput formControlName="precio">
                    </mat-form-field>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row text-right mt-2">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <a mat-button [routerLink]="[ '/home/productos' ]"> Regresar</a>
                    <button class="ml-2" mat-raised-button color="primary" (click)="verValor()">Actualizar</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </mat-card>
</div>