<div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em">
    <i class="material-icons" style="font-size: 30px">ballot</i> Detalle de Orden de Venta (N°{{ idParam }})
</div>

<div class="container mt-4">
    Se muestra el detalle de orden de venta y la validación para confirmar si efectivamente ha llegado o no una orden de venta proveniente de un cliente. Por ello, se recomienda que verifique bien si ha llegado correctamente la mercancía.
</div>

<div class="container mt-3 text-center">
    <mat-card>
        <hr>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-3 text-center">
                <strong>Ítem</strong>
                <hr>
                <ul id="friendsList"> </ul>
            </div>
            <div class="col-md-1 text-center">
                <strong>-Stock</strong>
                <hr>
                <ul id="friendsList0"> </ul>
            </div>
            <div class="col-md-2 text-center ">
                <strong>Verificar producto</strong>
                <hr>
                <ul id="friendsList2" (click)="actualizarStock()"> </ul>
            </div>
            <div class="col-md-2 text-center">
                <strong>Estado</strong>
                <hr>
                <ul id="friendsList3"> </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div>
            <a mat-button [routerLink]="[ '/home/venta' ]">Regresar</a>
        </div>
        <hr>
    </mat-card>
</div>