<div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em">
    <i class="material-icons" style="font-size: 30px"> accessibility </i> Compras
</div>


<div class=" container-fluid mt-4" style="padding-right:4em; padding-left: 4em">
    <div class="row">
        <div class="col-md-6 ">
            <i class="material-icons"> search </i>
            <mat-form-field class="mt-3">
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar..." autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-md-6 text-right" style="padding-top: 1.8em">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevaOrdenCompra" mat-flat-button color="primary" style="bottom: 0em;">Nueva Orden de Compra</button>
        </div>
    </div>

    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="numero_compra">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # DE ORDEN </th>
                <td mat-cell *matCellDef="let row"> {{row._id}} </td>
            </ng-container>

            <ng-container matColumnDef="proveedor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PROVEEDOR </th>
                <td mat-cell *matCellDef="let row"> {{row.proveedor.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="solicitante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITANTE </th>
                <td mat-cell *matCellDef="let row"> {{row.empleado.nombres.split(" ",1)}} {{row.empleado.apellidos.split(" ",1)}} </td>
            </ng-container>

            <!-- Esto irá en el detalle ------------------------------------------------------------- 
                <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container> -->

            <ng-container matColumnDef="fecha_comp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                <td mat-cell *matCellDef="let row"> S/. {{row.total}} </td>
            </ng-container>

            <!-- Estado por verificar si está todo correcto o no  -->
            <!-- <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
            </ng-container> -->

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VER DETALLE </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [routerLink]="['/home/compra', row._id ]" [queryParams]="{ direccion: row.proveedor.direccion, ruc: row.proveedor.ruc }">
                        <mat-icon class="material-icons">ballot</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
    </div>
</div>

<!-- MODAL NUEVA ORDEN -->

<div class="modal fade" id="modalNuevaOrdenCompra" tabindex="-1" role="dialog" aria-labelledby="modalNuevaOrdenCompra" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"> <i class="material-icons">
                        group_add
                    </i> Nueva Orden de Compra (N°{{numerocompra}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Ingrese los datos de la Orden de Compra</h5>
                <div class="container from-group text-center mt-5">
                    <form [formGroup]="nuevoOrdenCompraForm">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Proveedor..." matInput formControlName="proveedor" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.nombre}} - {{option.ruc}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2"> </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Solicitante..." matInput formControlName="solicitante" [matAutocomplete]="auto2">
                                    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn2">
                                        <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                                            {{option2.nombres}} {{option2.apellidos}} - {{option2.dni}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2"> </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Descripción..." matInput formControlName="descripcion" autocomplete="off">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2"> </div>
                        </div>

                        <hr>
                        <h6 style="text-align: left; padding-left: 128px">Agregar Producto</h6>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Producto..." matInput formControlName="producto" [matAutocomplete]="auto3">
                                    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn3">
                                        <mat-option *ngFor="let option3 of filteredOptions3 | async" [value]="option3">
                                            {{option3.nombre}} | <strong style="color: rgb(21, 36, 175)">Stock: {{option3.stock}} </strong>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" (click)="verStock()">
                                <mat-form-field appearance="legacy">
                                    <mat-label *ngIf="!stock">Cantidad</mat-label>
                                    <mat-label *ngIf="stock">Stock Actual : {{stock}} </mat-label>
                                    <input id="cantidad" matInput placeholder="Ingresar cantidad" autocomplete="off">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2"> </div>
                        </div>

                    </form>

                    <button mat-flat-button class="btnAgre" color="primary" style="text-align: center; margin-bottom: 50px; margin-top: 20px" (click)="mostrarProducto()">Agregar Producto</button>

                    <table id="tabla">
                        <tr>
                            <td>Producto</td>
                            <td>Descripción</td>
                            <td>Cantidad</td>
                            <td>SubTotal</td>
                        </tr>
                    </table>
                    <br>
                    <h5 style="text-align: center;">Total: S/. {{monto}}</h5>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button mat-button color="warn" data-dismiss="modal" (click)="cerrar()">Cerrar</button>
                <button mat-flat-button color="primary" (click)="guardarOrdenCompra()">Guardar</button>
            </div>
        </div>
    </div>
</div>