<nav class="navbar navbar-expand-lg navbar-light mat-elevation-z2 example-header" style=" text-align: center; background: #003c8f; color: white">
    <a mat-button (click)="isExpanded = !isExpanded">
        <i style="color:white" class="material-icons"> menu </i>
    </a>
    <a mat-button class="navbar-brand mat-button" href="#">
        <span style="color: white; font-size: 1.3em"><i class="material-icons docs-angular-logo">important_devices</i>
            Sistema de Inventario </span></a>
</nav>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
        <hr>
        <div style="height: 230px;" class="text-center">
            <p class="mt-1">Bienvenido</p>
            <label for="file-input">
                <img src="../../../assets/user.png" alt="" width="64px"
                    style="cursor: pointer; border-radius: 72px; width:72px; height:72px" *ngIf="!empleado.img">
                <img src="{{url+'/get-image/'+empleado.img}}" alt="" width="64px"
                    style="cursor: pointer; border-radius: 72px; width:72px; height:72px"
                    *ngIf="empleado.img" /></label>
            <input id="file-input" name="foto" type="file" style="display: none" (change)="fileChangeEvent($event)" />
            <p>{{empleado.nombres}} {{empleado.apellidos}}</p>
            <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
        </div>
        <mat-divider></mat-divider>
        <mat-toolbar style="background: white">
            <mat-toolbar-row *ngIf="admin || compras || ventas" [routerLink]="[ '/home/productos']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Productos </span>
                <span class="example-spacer"></span>
                <i class="material-icons ">local_offer</i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin || compras" [routerLink]="[ '/home/proveedores']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Proveedores</span>
                <span class="example-spacer"></span>
                <i class="material-icons">
                    accessibility
                </i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin || compras" [routerLink]="[ '/home/compra']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Compras</span>
                <span class="example-spacer"></span>
                <i class="material-icons">add_shopping_cart</i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin || ventas" [routerLink]="[ '/home/venta']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Ventas</span>
                <span class="example-spacer"></span>
                <i class="material-icons">monetization_on</i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin" id="btn-empleados" [routerLink]="[ '/home/empleados']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Empleados</span>
                <span class="example-spacer"></span>
                <i class="material-icons">how_to_reg</i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin || ventas" [routerLink]="[ '/home/clientes']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Clientes</span>
                <span class="example-spacer"></span>
                <i class="material-icons">person_pin</i>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="admin || ventas || compras" [routerLink]="[ '/home/reportes']" routerLinkActive="active-link">
                <span *ngIf="isExpanded || isShowing">Reportes</span>
                <span class="example-spacer"></span>
                <i class="material-icons">assignment</i>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>